<!DOCTYPE html>
<html>
<head>
	<title>Counter</title>
</head>
<body>
<h1>++++++COUNTER+++++</h1>
<h3> <%= times %> Times</h3>
<a href="/addtwo"><button type="button" name="button">+2</button></a>
<a href="/reset"><button type="button" name="button">Reset</button></a>
</body>
</html>